
    *{
       margin: 0;
       padding: 0;
       box-sizing: border-box; 
    }

body{
    font-family: "Winky Sans", sans-serif;;
    background-color: rgb(54, 104, 160);
    margin: 5%;
    line-height: 1.6;
}

main{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px beige;

}

header{
    text-align: center;
    color: black;
    padding: 20px 0;
    background-image:url(img/caspar-camille-rubin-0qvBNep1Y04-unsplash.jpg) ;
    background-size:150%;
    background-repeat: no-repeat;
    background-position: center;

}

header figure img{
    border-radius: 50%;
    border: 5px black;
    box-shadow: 0 0 10px;
}

header h1{
    font-size: 2em;
    margin-top: 10px;

}

header h2{
    font-size: 1.2cm;
    opacity: 0.7;

}

.container{
    background-color: rgb(144, 144, 253);
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.contenedor_foto_perfil{
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border: 7px solid #0ebab0;
    margin: 5%;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.contenedor_foto_perfil img{
    width: 100%;
    height: auto;
    display: block;
}

.cabecera{
    position: relative;
}

.nombre_puesto{
    display: inline-block;
    vertical-align: middle;
    margin-left: 1%;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

h3{
    font-size: 1.4cm;
    margin-top: 20px;
    color: rgba(0,0,0,0.5);
}
    
section{
    background-color: white;
    padding: 1px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);

}

section hr{
    border:0;
    height: 2px;
    background: #216cae;
    margin: 10px 0;
}

ul{
    list-style: none;
}

ul li {
    padding: 5px 0;
}

i{
    color: #216cae;
    margin-right: 8px;
}

address{
    color: #216cae;
    text-decoration: none;
}

article{
    margin-bottom: 15px;
}